[submodule "2110101-com-prog"]
	path = 2110101-com-prog
	url = https://github.com/Leomotors/2110101-com-prog.git
[submodule "2110211-intro-data-struct"]
	path = 2110211-intro-data-struct
	url = https://github.com/Leomotors/2110211-intro-data-struct.git
